<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shin.uaa.admin.mapper.SysMenuMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.shin.uaa.common.entity.SysMenu">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="permission" property="permission"/>
	</resultMap>

	<resultMap id="MenuVoResultMap" type="com.shin.uaa.common.vo.MenuVO">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="permission" property="permission"/>
	</resultMap>

	<!--通过角色查询菜单信息-->
	<select id="listMenusByRoleId" resultMap="MenuVoResultMap">
		SELECT
			sys_menu.*
		FROM
			sys_menu sys_menu
		LEFT JOIN
			sys_role_menu ON sys_menu.id = sys_role_menu.menu_id
		WHERE
			sys_role_menu.role_id = #{roleId}
    </select>
</mapper>
