<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shin.uaa.admin.mapper.SysRoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.shin.uaa.common.entity.SysRole">
		<id column="id" property="id"/>
		<result column="role_name" property="roleName"/>
		<result column="role_code" property="roleCode"/>
	</resultMap>

	<select id="listRoleIdsByUserId" resultType="java.lang.String">
        SELECT
            r.id
        FROM
        sys_role r, sys_user_role sur WHERE r.id = sur.role_id and  sur.user_id IN (#{userId})
    </select>
</mapper>
